@model SalesManagement.Models.Salesman
@{
    ViewData["Title"] = "Create";
}

<form style="width: 700px" method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Add New Salesman
            </h2>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 100px">Submit</button>
        <a asp-controller="Salesman" asp-action="Index" class="btn btn-secondary">Back to Salesmen</a>
    </div>
</form>

